# Python 2年生 スクレイピングのしくみ (How scraping works)

Chapter 3

## Lesson 08 pandasを使ってみよう (Let's use pandas)

In [1]:
import pandas as pd

# Import CSV files
df = pd.read_csv("test.csv")
print(df)

   名前   国語  数学  英語  理科  社会
0  A太   83  89  76  97  76
1  B介   66  93  75  88  76
2  C子  100  84  96  82  94
3  D郎   60  73  63  52  70
4  E美   92  62  84  80  78
5  F菜   96  92  94  92  90

In [2]:
# Display table data information
print("データの件数 =",len(df))
print("項目名       =",df.columns.values)
print("インデックス=",df.index.values)

データの件数 = 6
項目名       = ['名前' '国語' '数学' '英語' '理科' '社会']
インデックス= [0 1 2 3 4 5]

In [3]:
# Display 1 data
print("国語の列データ\n",df["国語"])

# Display multiple columns of data
print("国語と数学の列データ\n",df[["国語","数学"]])

国語の列データ
 0     83
1     66
2    100
3     60
4     92
5     96
Name: 国語, dtype: int64
国語と数学の列データ
     国語  数学
0   83  89
1   66  93
2  100  84
3   60  73
4   92  62
5   96  92

In [4]:
# Display one line of data
print("C子のデータ\n",df.loc[2])

# Display multiple rows of data
print("C子とD郎のデータ\n",df.loc[[2,3]])

# Displays data for a specified column in a specified row
print("C子の国語データ\n",df.loc[2]["国語"])

C子のデータ
 名前     C子
国語    100
数学     84
英語     96
理科     82
社会     94
Name: 2, dtype: object
C子とD郎のデータ
    名前   国語  数学  英語  理科  社会
2  C子  100  84  96  82  94
3  D郎   60  73  63  52  70
C子の国語データ
 100

In [5]:
# Add one column of data
df["美術"] = [68, 73, 82, 77, 94, 96]
print("列データ(美術)を追加\n",df)

# Add 1 line of data
df.loc[6] = ["G恵", 90, 92, 94, 96, 92, 98]
print("行データ(G恵)を追加\n",df)

列データ(美術)を追加
    名前   国語  数学  英語  理科  社会  美術
0  A太   83  89  76  97  76  68
1  B介   66  93  75  88  76  73
2  C子  100  84  96  82  94  82
3  D郎   60  73  63  52  70  77
4  E美   92  62  84  80  78  94
5  F菜   96  92  94  92  90  96
行データ(G恵)を追加
    名前   国語  数学  英語  理科  社会  美術
0  A太   83  89  76  97  76  68
1  B介   66  93  75  88  76  73
2  C子  100  84  96  82  94  82
3  D郎   60  73  63  52  70  77
4  E美   92  62  84  80  78  94
5  F菜   96  92  94  92  90  96
6  G恵   90  92  94  96  92  98

In [6]:
# Delete “Name” column
print("「名前」の列を削除\n", df.drop("名前",axis=1))

# Delete 2 index rows
print("インデックス2の行を削除\n", df.drop(2,axis=0))

「名前」の列を削除
     国語  数学  英語  理科  社会  美術
0   83  89  76  97  76  68
1   66  93  75  88  76  73
2  100  84  96  82  94  82
3   60  73  63  52  70  77
4   92  62  84  80  78  94
5   96  92  94  92  90  96
6   90  92  94  96  92  98
インデックス2の行を削除
    名前  国語  数学  英語  理科  社会  美術
0  A太  83  89  76  97  76  68
1  B介  66  93  75  88  76  73
3  D郎  60  73  63  52  70  77
4  E美  92  62  84  80  78  94
5  F菜  96  92  94  92  90  96
6  G恵  90  92  94  96  92  98